# Ex1 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [154]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [155]:
chipo= pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### Step 4. How many products cost more than $10.00?

In [156]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [157]:
q= chipo[(chipo['item_price'] > 10.0) & (chipo['quantity']==1)].item_name.nunique()
print('No of products that cost more than $10 are : ' ,q)

No of products that cost more than $10 are :  25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [158]:
# drop duplictae items
p=chipo.drop_duplicates(['item_name','item_price','quantity','choice_description'])
p[['item_name','item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4602                       Barbacoa Burrito        9.25
4607                          Steak Burrito       11.75
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25

[1960 rows x 2 columns]

### Step 6. Sort by the name of the item

In [159]:
chipo.sort_values('item_name', ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [160]:
chipo.sort_values('item_price',ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [161]:
d=chipo[chipo['item_name']=='Veggie Salad Bowl'].sort_values(['quantity'], ascending=False)
print('No of times Veggie Salad Bowl was orded =' ,d.quantity.sum())

No of times Veggie Salad Bowl was orded = 18

### Step 9. How many times did someone order more than one Canned Soda?

In [162]:
cs=chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity'] > 1)]
print('No of times canned soda was orderd more than one =' ,len(cs))

No of times canned soda was orderd more than one = 20